:root {
    --main-color-one: #fc0841;
    --secondary-color: #fc0841;
    --heading-color: #161619;
    --paragraph-color: #828282;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
 
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

